<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Article</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#" th:href="@{/articles}">NEWS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" th:href="@{/feedback}">FEEDBACK</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CATALOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ORDERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">ADD ARTICLE</a>
        </li>
        <div sec:authorize="hasAuthority('SALE_USER')">
          <li class="nav-item">
            <a class="nav-link" href="#"
               th:href="@{/sale/articles}">USER'S NEWS</a>
          </li>
        </div>
      </ul>
      <div class="col-auto">
            <span class="navbar-text">
        User:
      </span>
        <span sec:authentication="name"></span>
        <a class="btn btn-sm btn-outline" type="button" href="#" th:href="@{/logout}">Log out</a>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <h2>Fill the form to add article</h2>
  <form action="#" th:action="@{/sale/articles/add}" th:object="${newArticle}" method="post">
    <div class="form-group row">
      <label for="inputDate" class="col-sm-2 col-form-label">Date</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" th:field="*{createdAt}" id="inputDate"
               placeholder="yyyy-MM-dd HH:mm"
               pattern="^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1]) (0[0-9]|1[0-9]|2[0-3]):([0-5][0-9])"
               required>
        <span th:if="${#fields.hasErrors('createdAt')}" th:errors="*{createdAt}">Description Error</span>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" th:field="*{title}" id="inputTitle"
               placeholder="Enter the title"
               maxlength="100" minlength="2" required>
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Description Error</span>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputContent" class="col-sm-2 col-form-label">Content</label>
      <div class="col-sm-10">
        <textarea rows="10" style="height:100%;" type="text" class="form-control" th:field="*{content}" id="inputContent"
               placeholder="Enter the content"
                  maxlength="1000" minlength="10" required></textarea>
        <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Description Error</span>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </div>
    </div>
  </form>
</div>


<script th:src="@{/js/jquery-3.6.0.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
