<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>All feedback</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
  <h2>All feedback</h2>
  <div th:if="${#lists.isEmpty(feedbackToDisplay)}">No feedback was found</div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">User full name</th>
        <th scope="col">Feedback</th>
        <th scope="col">Post date</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="feedback : ${feedbackToDisplay}">
        <td th:text="${feedback.userFullName}">user full name</td>
        <td th:text="${feedback.text}">user email</td>
        <td th:text="${feedback.createdAt}">user roleName</td>
      </tr>
      </tbody>
    </table>
  <div class="row">
    <span>Page</span>
    <a th:if="${currentPage} gt 1" th:href="@{/feedback/{page}(page=${currentPage - 1})}" href="#"
       th:text="${currentPage - 1}"></a>
    <span th:text="${currentPage}"></span>
    <a th:if="${currentPage} lt ${numberOfPages}" th:href="@{/feedback/{page}(page=${currentPage + 1})}" href="#"
       th:text="${currentPage + 1}"></a>
  </div>
  <a class="btn btn-outline-primary" th:href="@{/logout}" href="#" roleName="button">Log out</a>
</div>

<script th:src="@{/js/jquery-3.6.0.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>l>