<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>All feedback</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <h2>All feedback</h2>
    <div th:if="${#lists.isEmpty(page.objects)}">No feedback was found</div>
    <form action="#" th:action="@{/users/feedback/update}" id="checkbox-form-update" method="post">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">User full name</th>
                <th scope="col">Feedback</th>
                <th scope="col">Post date</th>
                <th scope="col">Displayed</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="feedback : ${page.objects}">
                <td th:text="${feedback.userFullName}">user full name</td>
                <td th:text="${feedback.text}">user email</td>
                <td th:text="${feedback.createdAt}">user roleName</td>
                <td><input type="hidden" th:name="feedbackIds" th:value="${feedback.uuid}">
                    <input type="checkbox" th:checked="${feedback.displayed}"
                           th:name="feedbackIdsToUpdate" th:value="${feedback.uuid}"></td>
                <td>
                <td>
                    <form action="#" th:action="@{/users/feedback/delete/{uuid}(uuid=${feedback.uuid})}" method="post">
                        <input type="hidden" th:value="${feedback.uuid}"/>
                        <input type="submit" value="delete">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col">
                <a class="btn btn-outline-primary btn-lg" th:href="@{/users/add}" href="#" role="button">Add new
                    user</a>
            </div>
            <div class="col">
                <a class="btn btn-outline-primary btn-lg" th:href="@{/users/all}" href="#" role="button">All
                    users</a>
            </div>
            <div class="col">
                <button type="submit" form="checkbox-form-update" class="btn btn-outline-primary btn-lg">Change
                    status
                </button>
            </div>
        </div>
    </form>


    <div class="btn-group me-2" role="group">
        <span>Page</span>
        <form action="#" th:action="@{/feedback}" method="get">
            <th:block th:each="number: ${#numbers.sequence(1, page.totalPages)}">
             <span th:if="${currentPage == number}">
            <button type="button" class="btn btn-primary disabled" th:text="${number}"></button>
                </span>
                <span th:unless="${currentPage == number}">
                 <input th:name="pageNumber" type="hidden" th:value="${number}"/>
                <button type="submit" class="btn btn-primary" th:text="${number}"></button>

     </span>
            </th:block>
        </form>
    </div>


   <div class="col-6">

    <a class="btn btn-outline-primary" th:href="@{/logout}" href="#" role="button">Log out</a>
   </div>
</div>

<script th:src="@{/js/jquery-3.6.0.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>l>