<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>change user password</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<h3>You've successfully changed password to user.</h3> <br>
<h3>New password has been sent to user with username:</h3> <h3 th:text="${user.email}"></h3>
<a th:href="@{/login}" href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Log in</a>
<script th:src="@{/js/jquery-3.6.0.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>