<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/articles}">NEWS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/feedback}">FEEDBACK</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/items}">CATALOG</a>
                </li>
                <div sec:authorize="hasAuthority('CUSTOMER_USER')">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" th:href="@{/customer/orders}">ORDERS</a>
                    </li>
                </div>
                <div sec:authorize="hasAuthority('SALE_USER')">
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/sale/orders}">ORDERS</a>
                    </li>
                </div>
                <div sec:authorize="hasAuthority('CUSTOMER_USER')">
                    <li class="nav-item">
                        <a class="nav-link" href="#"
                           th:href="@{/profile}">PROFILE</a>
                    </li>
                </div>
                <div sec:authorize="hasAuthority('SALE_USER')">
                    <li class="nav-item">
                        <a class="nav-link" href="#"
                           th:href="@{/sale/articles/add}">ADD ARTICLE</a>
                    </li>
                </div>
                <div sec:authorize="hasAuthority('SALE_USER')">
                    <li class="nav-item">
                        <a class="nav-link" href="#"
                           th:href="@{/sale/articles}">USER'S NEWS</a>
                    </li>
                </div>
                <div sec:authorize="hasAuthority('CUSTOMER_USER')">
                    <li class="nav-item">
                        <a class="nav-link" href="#"
                           th:href="@{/customer/feedback/add}">LEAVE FEEDBACK</a>
                    </li>
                </div>
            </ul>
            <div class="col-auto">
            <span class="navbar-text">
        User:
      </span>
                <span sec:authentication="name"></span>
                <a class="btn btn-sm btn-outline" type="button" href="#" th:href="@{/logout}">Log out</a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <h2>Orders</h2>
    <div th:if="${#lists.isEmpty(page.objects)}">No orders were found</div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Number of order</th>
            <th scope="col">Status</th>
            <th scope="col">Name of item</th>
            <th scope="col">Quantity of item</th>
            <th scope="col">Total price</th>
            <th scope="col">Seller</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${page.objects}">
            <td th:text="${order.number}"></td>
            <td th:text="${order.orderStatus}"></td>
            <td th:text="${order.itemName}"></td>
            <td th:text="${order.itemQuantity}"></td>
            <td th:text="${order.totalPrice}"></td>
            <td th:text="${order.seller}"></td>
        </tr>
        </tbody>
    </table>
    <div class="btn-group me-2" role="group">
        <span>Page</span>
        <form action="#" th:action="@{/customer/orders}" method="get">
            <th:block th:each="number: ${#numbers.sequence(1, page.totalPages)}">
             <span th:if="${currentPage == number}">
            <button type="button" class="btn btn-primary disabled" th:text="${number}"></button>
                </span>
                <span th:unless="${currentPage == number}">
                 <input th:name="pageNumber" type="hidden" th:value="${number}"/>
                <button type="submit" class="btn btn-primary" th:text="${number}"></button>

     </span>
            </th:block>
        </form>
    </div>
</div>
<script th:src="@{/js/jquery-3.6.0.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>