<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Order details</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/articles}">NEWS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/feedback}">FEEDBACK</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/items}">CATALOG</a>
                </li>
                <div sec:authorize="hasAuthority('CUSTOMER_USER')">
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/customer/orders}">ORDERS</a>
                    </li>
                </div>
                <div sec:authorize="hasAuthority('SALE_USER')">
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/sale/orders}">ORDERS</a>
                    </li>
                </div>
                <div sec:authorize="hasAuthority('CUSTOMER_USER')">
                    <li class="nav-item">
                        <a class="nav-link" href="#"
                           th:href="@{/profile}">PROFILE</a>
                    </li>
                </div>
                <div sec:authorize="hasAuthority('SALE_USER')">
                    <li class="nav-item">
                        <a class="nav-link" href="#"
                           th:href="@{/sale/articles/add}">ADD ARTICLE</a>
                    </li>
                </div>
                <div sec:authorize="hasAuthority('SALE_USER')">
                    <li class="nav-item">
                        <a class="nav-link" href="#"
                           th:href="@{/sale/articles}">USER'S NEWS</a>
                    </li>
                </div>
                <div sec:authorize="hasAuthority('CUSTOMER_USER')">
                    <li class="nav-item">
                        <a class="nav-link" href="#"
                           th:href="@{/customer/feedback/add}">LEAVE FEEDBACK</a>
                    </li>
                </div>
            </ul>
            <div class="col-auto">
            <span class="navbar-text">
        User:
      </span>
                <span sec:authentication="name"></span>
                <a class="btn btn-sm btn-outline" type="button" href="#" th:href="@{/logout}">Log out</a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <h2>Order details</h2>

        <table class="table table-striped">
            <tbody>
            <tr>
                <th scope="row">Number of order</th>
                <td th:text="${order.number}"></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Current status</th>
                <td th:text="${order.orderStatus}"></td>
                <td></td>
            </tr>
            <tr> <form action="#" id="form-order"  th:action="@{/sale/orders/{id}(id=${order.orderUuid})}"
                       method="post">
                <th scope="row">Change status</th>
                <td>
                    <div  class="form-check" th:each="status : ${statuses}">
                        <input th:name="newStatusID"  class="form-check-input" type="radio"
                               th:value="${status.id}" required>
                        <label class="form-check-label" th:text="${status.name}">
                            Default radio
                        </label>
                    </div>
                </td>
                <td><button type="submit" class="btn btn-primary">Change status</button></td>
            </form>
            </tr>

            <tr>
                <th scope="row">Name of item</th>
                <td th:text="${order.itemName}"></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Quantity of item</th>
                <td th:text="${order.itemQuantity}"></td>
                <td></td>
            </tr>
                <tr>
                    <th scope="row">Total price</th>
                    <td th:text="${order.totalPrice}">
                    </td>
                    <td></td>
                </tr>
            <tr>
                <th scope="row">Customer telephone</th>
                <td th:text="${order.customerTelephone}">
                </td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Customer Name</th>
                <td th:text="${order.customerIdentifier}">
                </td>
                <td></td>
            </tr>

</tbody>
</table>
</div>
<script th:src="@{/js/jquery-3.6.0.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>