<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="UTF-8">
  <title>News</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"  href="#" th:href="@{/articles}">NEWS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" th:href="@{/feedback}">FEEDBACK</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CATALOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ORDERS</a>
        </li>
        <div sec:authorize="hasAuthority('CUSTOMER_USER')">
          <li class="nav-item">
            <a class="nav-link" href="#"
               th:href="@{/profile}">PROFILE</a>
          </li>
        </div>
        <div sec:authorize="hasAuthority('SALE_USER')">
          <li class="nav-item">
            <a class="nav-link" href="#"
               th:href="@{/sale/articles/add}">ADD ARTICLE</a>
          </li>
        </div>
        <div sec:authorize="hasAuthority('SALE_USER')">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">USER'S NEWS</a>
          </li>
        </div>
      </ul>
      <div class="col-auto">
            <span class="navbar-text">
        User:
      </span>
        <span sec:authentication="name"></span>
        <a class="btn btn-sm btn-outline" type="button" href="#" th:href="@{/logout}">Log out</a>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <h2>News</h2>
  <div th:if="${#lists.isEmpty(page.objects)}">No articles were found</div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Summary</th>
      <th scope="col">Details</th>
      <div sec:authorize="hasAuthority('SALE_USER')">
        <th scope="col"></th>
      </div>
    </tr>
    </thead>
    <tbody>
    <tr th:each="article : ${page.objects}">
      <td th:text="${article.createdAt}"></td>
      <td th:text="${article.title}"></td>
      <td th:text="${article.userLastAndFirstName}"></td>
      <td th:text="${article.content}"></td>
      <td><a th:href="@{/sale/articles/{uuid}(uuid=${article.uuid})}" href="#">details</a></td>
      <div sec:authorize="hasAuthority('SALE_USER')">
        <td><form action="#" th:action="@{/sale/articles/delete/{uuid}(uuid=${article.uuid})}" method="post">
          <input type="hidden" th:value="${article.uuid}"/>
          <input class="btn btn-outline-primary" type="submit" value="delete">
        </form></td>
      </div>
    </tr>
    </tbody>
  </table>
  <div class="btn-group me-2" role="group">
    <h5>Page</h5>
    <form action="#" th:action="@{/articles}" method="get">
      <th:block th:each="number: ${#numbers.sequence(1, page.totalPages)}">
             <span th:if="${currentPage == number}">
            <button type="button" class="btn btn-primary disabled" th:text="${number}"></button>
                </span>
        <span th:unless="${currentPage == number}">
                 <input th:name="pageNumber" type="hidden" th:value="${number}"/>
                <button type="submit" class="btn btn-primary" th:text="${number}"></button>

     </span>
      </th:block>
    </form>
  </div>

</div>

<script th:src="@{/js/jquery-3.6.0.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>